
// A global scss file for keeping track of general color palletes / branding if need be

/*
* This file should contain all available color palletes for appropriate lerping
*/

$intro: #4D3C43;
$intro-dark: #353234;
$intro-light: #DDCAE3;
$intro-highlight: #89402E; 
